{% set slides = function('get_field', 'slider_slides', 'option') %}

{% if slides %}

<div class="slider slider--main">
    {% for slide in slides %}
        <div class='slider__item'>
            <div class='slider__image'{% if slide.image_wrapper_style %} style="{{ slide.image_wrapper_style }}"{% endif %}>
                {% set image = function('get_translation', slide.image_ua, slide.image_en ? slide.image_en : slide.image_ua) %}
                <img data-lazy='{{ image }}' alt=""{% if slide.image_style %} style="{{ slide.image_style }}"{% endif %}>
            </div>
            <div>
                {{ function('get_translation', slide.text_ua, slide.text_en ? slide.text_en : slide.text_ua)|raw }}
            </div>
        </div>
    {% endfor %}
</div>

{% else %}

<div class="slider slider--main">
    <div class='slider__item'>
        <div class='slider__image'>
            <img data-lazy='{{ function('get_translation', '/wp-content/themes/nure/images/banners/banner-1.jpg', '/wp-content/themes/nure/images/banners/banner-1-en.jpg') }}' alt="">
        </div>
        <div>
            {{ function('get_translation', 'На кафедрі розгорнуто і успішно використовується в навчальному процесі та наукових дослідженнях найсучасніше телекомунікаційне обладнання різних фірм-виробників: Cisco, Siemens, Avaya, D-link та ін. Функціонал обладнання охоплює всі технологічні рівні мереж наступного покоління (NGN) - від термінальних пристроїв і мереж доступу, до транспортних мереж і систем мережевого управління.',
            'The Department deployed and has been successfully using modern telecommunication equipment of different vendors such as Cisco, Siemens, Avaya, D-Link, etc. in the educational process and scientific research. The equipment feature set covers all technological levels of Next Generation Networking (NGN) – from terminal devices and access networks to transport networks and network management systems') }}
        </div>
    </div>
    <div class='slider__item'>
        <div class='slider__image'>
            <img data-lazy='{{ function('get_translation', '/wp-content/themes/nure/images/banners/banner-2.jpg', '/wp-content/themes/nure/images/banners/banner-2-en.jpg') }}' alt="">
        </div>
        <div>
            {{ function('get_translation', 'Кафедра інфокомунікаційної інженерії входить до складу факультету інфокомунікацій Харківського національного університету радіоелектроніки. Історія кафедри налічує понад 45 років. Щорічно кафедра приймає до 250 абітурієнтів з України та зарубіжних країн на денне, заочне, дистанційне, післядипломне навчання та екстернат, а також на відділення з навчанням англійською мовою.',
            'The Department of Infocommunication Engineering belongs to the Faculty of Infocommunications of Kharkiv National University of Radio Electronics. The history of the Department is about 45 years. Every year the Department admits up to 250 entrants form Ukraine and other countries for full-time, part- time, distance, post-graduate learning and external studies as well as for studying in English.') }}
        </div>
    </div>
    <div class='slider__item'>
        <div class='slider__image'>
            <img data-lazy='{{ function('get_translation', '/wp-content/themes/nure/images/banners/banner-3.jpg', '/wp-content/themes/nure/images/banners/banner-3-en.jpg') }}' alt="">
        </div>
        <div>
            {{ function('get_translation', 'Кафедра ІКІ носить ім'я Володимира Володимировича Поповського, який її очолював з 1992 по 2018 рр. За цей час під його керівництвом кардинально оновлена та осучаснена лабораторна база кафедри (12 нових лабораторій та центрів); він створив та очолив наукову школу – захищено 10 докторських та понад 50 кандидатських дисертацій; видано 7 монографій, більше 200 статей та понад 300 доповідей на конференціях. Виконано більше 20 НДР.',
            'The ICE Department was named after Volodymyr Popovskyy who led it from 1992 till 2018. During this period, under his leadership the laboratory base of the Department was cardinally renovated and updated (12 new laboratories and centers). He created and led a scientific school – 10 doctoral and more than 50 PhD theses were defended. There were published 7 monographs, more than 200 articles and more than 300 conference reports. More than 20 R&amp;D works were completed.') }}
        </div>
    </div>
    <div class='slider__item'>
        <div class='slider__image' style="width: auto;">
            <img data-lazy='/wp-content/themes/nure/images/banners/banner-f5.png' alt="" style="max-height: 226px;">
        </div>
        <div>
            Кафедра готує фахівців за першим (бакалаврським), другим (магістерським) та третім (доктора філософії, PhD) рівнями вищої освіти за такими спеціальностями:
            <ul style="list-style-type: disc;">
                <li>
                    F5 Кібербезпека та захист інформації;
                </li>
                <li>
                    F6 Інформаційні системи та технології;
                </li>
                <li>
                    G5 Електроніка, електронні комунікації, приладобудування та радіотехніка.
                </li>
            </ul>
        </div>
    </div>
</div>

{% endif %}
