
{% set art = [] %}
{% set rep = [] %}
{% set years = [] %}
{% set quartileQ1 = [] %}
{% set quartileQ2 = [] %}
{% set quartileQ12 = [] %}

{% set scopus = [] %}
{% set nonScopus = [] %}

{% set artSum = 0 %}
{% set repSum = 0 %}

{% set lastyear = 0 %}

{% for publication in posts %}
    {% set type = publication.get_field('type') %}
    {% set year = publication.get_field('year') %}

    {% if type == 'Стаття' %}
        {% set artSum = artSum + 1 %}
    {% else %}
        {% set repSum = repSum + 1 %}
    {% endif %}

    {% if year != lastyear %}
        {% set lastyear = year %}
        {% set years = years|merge([year]) %}
    {% endif %}
{% endfor %}

<h1 class="main__title main__title--aside">
   {{title}}
   <div class='main__subtitle'>
        Усього {{ artSum }} {{function('get_wordform', artSum, 'стаття', 'статті', 'статей' )}}
        та {{ repSum }} {{function('get_wordform', repSum, 'доповідь', 'доповіді', 'доповідей' )}}
   </div>
</h1>

<section>
    <div class="main__block main__chart">
        <canvas id="cursor" width="730px" height="203px"></canvas>
        <canvas id="publicationChart" width="100" height="40"></canvas>
    </div>

    {% set artLen = 0 %}
    {% set repLen = 0 %}
    {% set scopusSum = 0 %}
    {% set quartileQ1Len = 0 %}
    {% set quartileQ2Len = 0 %}
    {% set quartileQ12Len = 0 %}

    {% for publication in posts %}
        {% set year = publication.get_field('year') %}
        {% set type = publication.get_field('type') %}
        {% set nextyear = posts[loop.index0 + 1].get_field('year') %}
        {% set quartile = publication.get_field('quartile')|default('') %}
        {% set normalizedQuartile = quartile|upper|replace({'\\':'/'}) %}

        {% if type == 'Стаття' %}
            {% set artLen = artLen + 1 %}
        {% else %}
            {% set repLen = repLen + 1 %}
        {% endif %}

        {% if publication.scopus %}
            {% set scopusSum = scopusSum + 1 %}
        {% endif %}

        {% if normalizedQuartile == 'Q1' %}
            {% set quartileQ1Len = quartileQ1Len + 1 %}
        {% elseif normalizedQuartile == 'Q2' %}
            {% set quartileQ2Len = quartileQ2Len + 1 %}
        {% elseif normalizedQuartile == 'Q1/Q2' %}
            {% set quartileQ12Len = quartileQ12Len + 1 %}
        {% endif %}

        {% if nextyear != year %}
            {% set link = function('get_translation', '/ua', '/en') ~ '/publications/' ~ year %}
            {% set art = art|merge([artLen]) %}
            {% set rep = rep|merge([repLen]) %}
            {% set scopus = scopus|merge([scopusSum]) %}
            {% set nonScopusSum = artLen + repLen - scopusSum %}
            {% set nonScopus = nonScopus|merge([nonScopusSum]) %}
            {% set quartileQ1 = quartileQ1|merge([quartileQ1Len]) %}
            {% set quartileQ2 = quartileQ2|merge([quartileQ2Len]) %}
            {% set quartileQ12 = quartileQ12|merge([quartileQ12Len]) %}

            <div class="main__block">
                <div class="row">
                    <div>
                        <div class="row__name">
                            <a href='{{link}}'>
                                Публікації за {{year}} рік
                            </a>
                        </div>
                        <div class="row__content">
                            У {{year}} році опубліковано
                            {{artLen == 0 and repLen == 0 ? " взагалі нічого" : ""}}{{
                                artLen
                                ? artLen ~ " " ~ function('get_wordform', artLen, 'статтю', 'статті', 'статей')
                                : ""
                            }}{{ artLen > 0 and repLen > 0 ? " та " : "" }}{{
                                repLen
                                ? repLen ~ " " ~ function('get_wordform', repLen, 'доповідь', 'доповіді', 'доповідей' )
                                : ""
                            }}.
                        </div>
                    </div>
                </div>
                
            </div>

            {% set artLen = 0 %}
            {% set repLen = 0 %}
            {% set scopusSum = 0 %}
            {% set quartileQ1Len = 0 %}
            {% set quartileQ2Len = 0 %}
            {% set quartileQ12Len = 0 %}

        {% endif %}

    {% endfor %}
</section>

<script>
Chart.defaults.global.defaultFontSize = 14;
Chart.defaults.global.defaultFontColor = '#2F536D';
Chart.defaults.global.defaultFontFamily = 'Montserrat';
let ctx = document.getElementById('publicationChart').getContext('2d');
window.chart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [{{years|reverse|join(',')}}],
    datasets: [
        { 
            data: [{{art|reverse|join(',')}}],
            label: "Статті",
            borderColor: "#3E95CD",
            pointBackgroundColor: "#3E95CD",
            pointHoverBackgroundColor: "#3E95CD",
            backgroundColor: "#3E95CD",
            pointHoverRadius: 5,
            fill: false
        },
        { 
            data: [{{rep|reverse|join(',')}}],
            label: "Доповіді",
            borderColor: "#8E5EA2",
            pointBackgroundColor: "#8E5EA2",
            pointHoverBackgroundColor: "#8E5EA2",
            backgroundColor: "#8E5EA2",
            pointHoverRadius: 5,
            fill: false
        },
        { 
            data: [{{scopus|reverse|join(',')}}],
            label: "Статті та доповіді, що опубліковані у Scopus",
            borderColor: "#FF9D40",
            pointBackgroundColor: "#FF9D40",
            pointHoverBackgroundColor: "#FF9D40",
            backgroundColor: "#FF9D40",
            pointHoverRadius: 5,
            fill: false
        },
        {
            data: [{{nonScopus|reverse|join(',')}}],
            label: "Решта статей та доповідей",
            borderColor: "#5FA55E",
            pointBackgroundColor: "#5FA55E",
            pointHoverBackgroundColor: "#5FA55E",
            backgroundColor: "#5FA55E",
            pointHoverRadius: 5,
            fill: false
        },
        {
            data: [{{quartileQ1|reverse|join(',')}}],
            label: "Q1",
            borderColor: "#1C7C54",
            pointBackgroundColor: "#1C7C54",
            pointHoverBackgroundColor: "#1C7C54",
            backgroundColor: "#1C7C54",
            pointHoverRadius: 5,
            fill: false
        },
        {
            data: [{{quartileQ2|reverse|join(',')}}],
            label: "Q2",
            borderColor: "#EF6F6C",
            pointBackgroundColor: "#EF6F6C",
            pointHoverBackgroundColor: "#EF6F6C",
            backgroundColor: "#EF6F6C",
            pointHoverRadius: 5,
            fill: false
        },
        {
            data: [{{quartileQ12|reverse|join(',')}}],
            label: "Q1/Q2",
            borderColor: "#F4B942",
            pointBackgroundColor: "#F4B942",
            pointHoverBackgroundColor: "#F4B942",
            backgroundColor: "#F4B942",
            pointHoverRadius: 5,
            fill: false
        }
    ],
  },
  options: {
    responsive: true,
    title: {
      display: true,
      text: 'Статистика публікацій за роками',
      fontSize: 16
    },
    tooltips: {
      mode: 'label',
      intersect: false
    },
    legend: {
        align: 'start',
        position: 'bottom',
        labels: {
            fontSize: 14,
            usePointStyle: true,
            boxWidth: 10,
        }
    },
    scales: {
        yAxes: [
            {
                ticks: {
                    precision: 0,
                },
            },
        ],
    }
  }
});

{% if dark_mode %}
    Chart.defaults.global.defaultFontColor = '#ffffff';
    let yAxes = chart.options.scales.yAxes;
    let xAxes = chart.options.scales.xAxes;

    for(let key in yAxes){
        yAxes[key].gridLines.zeroLineColor = 'rgba(255,255,255,.25)';
        yAxes[key].gridLines.color = 'rgba(255,255,255,.1)';
    }

    for(let key in xAxes){
        xAxes[key].gridLines.zeroLineColor = 'rgba(255,255,255,.25)';
        xAxes[key].gridLines.color = 'rgba(255,255,255,.1)';
    }
{% endif %}

$(document).ready(function(){
    $('#publicationChart').on("mousemove", function(e) {
        let element = $("#cursor");
		let domElement = element[0];
        let offsetLeft = domElement.getBoundingClientRect().left;
		let clientX = (e.clientX - offsetLeft);
		let ctx = domElement.getContext('2d');
        
        ctx.clearRect(0, 0, domElement.width, domElement.height);
        ctx.beginPath();
        ctx.moveTo(clientX, 0);
        ctx.lineTo(clientX, domElement.height);
        ctx.lineWidth = 2;
        ctx.strokeStyle = "#E5E5E5";
        ctx.stroke();
    });
});
</script>