<h1 class="main__title">
   {{title}}
</h1>

<section>
    {% for teacher in posts %}
        {% set name = function('get_translation', teacher.get_field('name_ua'), teacher.get_field('name_en')) %}
        {% set content = function('get_translation', teacher.get_field('content_ua'), teacher.get_field('content_en')) %}
        {% set image = function('wp_get_attachment_image_src', teacher.image, 'rta_thumb_no_cropped_480x')[0] %}
        {% set link = function('get_translation', '', '/en') ~ '/educational-support-staff/' ~ teacher.slug %}
        {% set shiftX = teacher.get_field('shift-x') %}
        
        {% set content = function('get_more', content) %}

        {% set size = function('getimagesize', image) %}
        {% set width = size[0] %}
        {% set height = size[1] %}

        <div class="main__block main__block--teacher">
            <div class="row">
                <div class="row__image">
                    <img src='{{theme_dir}}/images/loader.svg' data-src='{{image}}' alt="" style="{{width < height ? 'max-height: initial; max-width: 100%;' : ''}} {{shiftX ? "margin-left:" ~ shiftX ~ "%;" : ""}}">
                </div>
                <div>
                    <div class="row__name">
                        <a href='{{link}}'>
                            {{name}}
                        </a>
                    </div>
                    <div class="row__content">
                        {{content}}
                    </div>
                </div>
            </div>
            
        </div>
    {% endfor %}
</section>